###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Projet/.idea/.idea.Projet/.idea/contentModel.xml
Projet/.idea/.idea.Projet/.idea/workspace.xml
Projet/Assets/Artefacts/Assets/Screaming statue/mesh/Mesh.FBX.meta
Projet/Assets/Artefacts/Assets/Screaming statue/prefab.meta
Projet/Assets/Artefacts/Assets/Screaming statue/texture.meta
Projet/Assets/Artefacts/Assets/Simple Temple Props.meta
Projet/Assets/Artefacts/Flying_Tree.meta
Projet/Assets/Artefacts/Flying_Tree/Materials/Leafs.shader
Projet/Assets/Artefacts/Flying_Tree/Materials/Leafs.shader.meta
Projet/Assets/Malus Bonus.meta
Projet/Assets/Map/Prefab/Bloc I.prefab
Projet/Assets/Map/Prefab/Bloc L.prefab
Projet/Assets/Map/Prefab/Bloc T.prefab
Projet/Assets/Map/Scripts/Teleportation.cs
Projet/Assets/Mapping.unity
Projet/Assets/Pefab Artefacts.meta
Projet/Assets/Prefab de joueurs/Player1.prefab
Projet/ProjectSettings/ProjectVersion.txt
Projet/UnityPackageManager/manifest.json
Projet/Assets/Artefacts/Flying_Tree/Materials/Leafs.shader.meta
Projet/Assets/Malus Bonus.meta
Projet/Assets/Map/Prefab/Bloc I.prefab
Projet/Assets/Map/Prefab/Bloc L.prefab
Projet/Assets/Map/Prefab/Bloc T.prefab
Projet/Assets/Map/Scripts/Teleportation.cs
Projet/Assets/Mapping.unity
Projet/Assets/Pefab Artefacts.meta
Projet/Assets/Prefab de joueurs/Player1.prefab
Projet/ProjectSettings/ProjectVersion.txt
